<ul class="main-category">
    <li><a href="#">accessories</a></li>
    <li><a href="#">top 100 offer</a></li>
    <li><a href="#">sunglass</a></li>
    <li><a href="#">watch</a></li>
    <li><a href="#">man’s product</a></li>
    <li><a href="#">ladies</a></li>
    <li><a href="#">westrn dress</a></li>
    <li><a href="#">denim </a></li>
</ul>
@code {

}